@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Joke Web Application</h1>
    <h3>Built By <a href="https://solo.to/sotharothyim">Yim Sotharoth</a>.</h3>
</div>
